body{
	  background: url(/img/bg.jpg) no-repeat center center fixed; 

	background-size: 100% 100%;
}

#demoContainer {
	position: relative;
}

#connectControls {
	float: left;
	width: 250px;
	text-align: center;
	border: 2px solid black;
}

#otherClients {
	height: 200px;
	overflow-y: scroll;
}

#selfVideo {
	height: 225px;
	width: 300px;
	border: 1px solid blue;
	margin-left: 10px;

}

#callerVideo {
	height: 225px;
	width: 300px;
	border: 1px solid gray;
	margin-left: 10px;
}

.user-access-btn {
	width: 100%;
}

.user-access-wrap {
	position: fixed;
	top: 20%;
	left: 50%;
}

.ask-q-btn {
	display:block;
}

.org-askq-wrap {
/*	position: fixed;
	top: 20%;
	left: 50%;*/
}
.back-btn {
	float:left;
}
.login-btn {
	float:right;
}

