body {
	background-image: url("/img/bg.jpg");
	font-size: 3em!important;
}

#demoContainer {
	position: relative;
}

#connectControls {
	float: left;
	width: 250px;
	text-align: center;
	border: 2px solid black;
}

#otherClients {
	height: 200px;
	overflow-y: scroll;
}

#selfVideo {
	height: 225px;
	width: 300px;
	border: 1px solid blue;
	margin-left: 10px;
	position: fixed;
	top: 20%;
	left: 50%;
}

#callerVideo {
	height: 225px;
	width: 300px;
	border: 1px solid gray;
	margin-left: 10px;
}

.user-access-btn {
	width: 100%;
}

.user-access-wrap {
	position: fixed;
	top: 20%;
	left: 50%;
}

.ask-q-btn {
	display:block;
}

